.asignatura{
    background-color: rgba($color: #680CE8, $alpha: 0.5)
}
.borde{
    background-color: rgba($color: #FFE070, $alpha: 0.5)
    
}
.horario{
    -moz-border-radius: 20px / 20px;
    -webkit-border-radius: 20px 20px;
    border-radius: 20px / 20px;
    background-color : #2CC9FF; 
}


